# package management
bower_components/
node_modules/
npm-debug.log*
vendor/
yarn-error.log
yarn.lock

# development
.eslintcache

# build
dist/

# testing
coverage/
__screenshots__/

# project specific
AppxManifest.*
test.js
test.ts
todo.md
